chart {
	display: block;
	width: 400px;
	height: 200px;
}
#graphDiv {
	position: absolute;
	left: 47%;
	top: 8%;
	opacity: 0.9;
	height: 43%;
	width: 48%;
	display: none;
}
 @media only screen and (min-width: 300px) and (max-width: 499px) {
	#graphDiv {
		left: 40%;
		top: 12%;
		height: 25%;
		width: 50%;
	}
}
 @media only screen and (min-width: 500px) and (max-width: 1024px) {
	#graphDiv {
		left: 44%;
	    top: 9%;
	    opacity: 0.9;
	    height: 27%;
	    width: 49%;
	}
}